body{
    font-family: 'Baloo Paaji 2', cursive;
}
#chicken{
    background-color: #fbc531;
}
#beef{
    background-color: #9c88ff;
}
#sushi{
    background-color: #4cd137;
}
/* Extra small */
/* @media (max-width: 575px) {} */
/* Small devices */
@media (min-width: 0px) and (max-width: 767px) {
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Extra large devices */
@media (min-width: 1200px) {}